<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.textilesConnectionString"
            connectionString="Data Source=(local);Initial Catalog=textiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.textilesConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=textiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.textilesConnectionLuis"
            connectionString="Data Source=(local);Initial Catalog=textiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.textilesConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=textiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.textilesConnectionString3"
            connectionString="Data Source=E2MA-PC\E2MA;Initial Catalog=textiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>